html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(/quiz_draft/draft/img/polina-rytova-1dGMs4hhcVA-unsplash.jpg);
    background-size: cover;
    background-position: center;
    font-family: 'Arial', sans
        /* Додайте бажаний колір фону */
}



#quiz-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    box-shadow: 0 0.4rem 1.4rem 0 rgb(213, 213, 223);
    text-align: center;

}

#question-container {
    margin-bottom: 20px;
    font-size: 20px;
    text-align: center;

}

#quiz-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}


#startBtn,
#showBtn,
#showResultBtn,
#startAgainBtn {
    display: block;
    margin: 10px 0;
    padding: 10px 20px;
    background-color: #4285f4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#showBtn:hover,
#startBtn:hover,
#startAgainBtn:hover,
#showResultBtn:hover {
    background-color: rgb(230, 199, 21);
    color: white;
    cursor: pointer;

}




.result {
    margin-top: 20px;
    font-weight: bold;
    display: none;
}

@media (max-width: 768px) {
    html {
        font-size: 17px;
    }

    .quiz-container form h1 {
        font-size: 1.5rem;
    }

    .question-container {
        margin-bottom: 20px;
        justify-content: center;
        text-align: center;

    }
}

/* Додайте цей код в style.css */