body {
    font-family: Arial, sans-serif;
}

#quiz-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#question-container {
    margin-bottom: 20px;
}

.result {
    margin-top: 20px;
    font-weight: bold;
    display: none;
}